/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:991px) {
    .section-title h1{
        font-size: 6.5rem !important;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) and (max-width:767px){
    .section-title h1{
        font-size: 4.75rem !important;
    }
    .comment{
        width: 100% !important;
    }
    .member {
        font-size: 14px !important;
    }
    .member span{
        font-size: 14px !important;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {
    .section-title h1{
        font-size: 60px !important;
    }
    .section-title h2{
        font-size: 30px !important;
    }
    .banner-content h3{
        font-size: 22px !important;
    }
    .about-content p{
        font-size: 15px !important;
    }
    .card-body {
        margin: 10px 20px !important;
    }
    .card-text {
        font-size:15px ;
    }
    .comment{
        width: 100% !important;
    }
    .member {
        font-size: 14px !important;
    }
    .member span{
        font-size: 14px !important;
    }
    .timeline-content h5 {
        font-size: 14px !important;
        margin: 10px 0;
    }
    .timeline-content span {
        font-size: 11px;
    }
    .timeline-content p {
        line-height: 20px;
        font-size: 13px;
    }
    .timeline li::before {
        width: 17px;
        height: 17px;
    }    
    .timeline-content{
        width: 47%;
    }
}